---
import Footer from "../../components/Footer.astro";
import NavBar from "../../components/NavBar.astro";
import Layout from "../../layouts/Layout.astro";

import { getAllMedia } from "../../sanity/api";
import { urlForMedia } from "../../sanity/urlForMedia";

const media = await getAllMedia();
console.log(media[0]);
---

<Layout title="Cypher Queenz | Gallery">
  <NavBar />
  <main class="m-auto block h-full w-full max-w-4xl font-skinDisplay shadow-test">
    <div class="p-8">
      <h1 class="mb-2 text-4xl">Media Gallery</h1>
      <p class="italic">Under construction!</p>
      <div>
        {JSON.stringify(media)}
        <ul>
          {
            media.map((mediaItem: any) => {
              const imageUrl = urlForMedia(mediaItem);
              console.log(imageUrl);
              return (
                <li>
                  <a href={`${imageUrl}`}>{mediaItem._type}</a>
                </li>
              );
            })
          }
        </ul>
      </div>
    </div>
  </main>
  <Footer />
</Layout>
