---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found">
  <main class="flex items-center justify-center h-full m-auto text-center">
    <div class="p-4 border rounded shadow-app shadow-skinShadow md:p-8">
      <h1 class="mb-4 text-4xl font-skinMono">404</h1>
      <h2 class="mb-8 text-2xl font-skinMono">Page Not Found</h2>
      <a
        href="/"
        class="p-2 text-xl font-extrabold tracking-tight border border-gray-900 rounded"
        >Return</a
      >
    </div>
  </main>
</Layout>
