---
import { Image } from "astro:assets";
import logo from "../images/shared/logo.webp";
import Layout from "../layouts/Layout.astro";
import noExcuses from "../images/about/no_excuses.webp";
import goodfootLogo from "../images/home/goodfoot-logo.webp";
---

<Layout title="Cypher Queenz | About">
  <main
    class="mx-auto flex w-full max-w-[1440px] flex-col border-l-2 border-r-2 border-[#800000] bg-white shadow-sm"
  >
    <section class="flex flex-col">
      <div class="p-4 md:p-8">
        <h1 class="mb-2 text-4xl font-extrabold lowercase">About Us</h1>
        <div class="flex flex-col-reverse gap-4 lg:flex-row">
          <div class="flex flex-col gap-4 basis-1/2">
            <p class="text-2xl sm:text-3xl">
              CYPHER Queenz began in 2019 after many years of seeing a need for
              more community for Bgirls.
            </p>
            <p class="text-2xl sm:text-3xl">
              We give props to all the Bgirls who have been holding it down for
              a long time, but have observed many women briefly coming into the
              scene and then quickly leaving because of lack of support.
            </p>
            <p class="text-2xl sm:text-3xl">
              There is an explosion of talented Bgirls all over the world now
              and there is so much more to come. In Seattle, we want to provide
              that space for them.
            </p>
          </div>
          <div class="m-auto max-w-[300px] basis-1/2">
            <Image
              src={logo}
              class="object-contain object-center drop-shadow-xl"
              alt="Cypher Queenz Logo"
            />
          </div>
        </div>
      </div>

      <ul
        class="nav nav-tabs flex list-none flex-col flex-wrap items-stretch border-b-2 border-t-2 border-[#800000] md:flex-row"
        id="tabs-tabFill"
        role="tablist"
      >
        <li class="flex-auto text-center nav-item" role="presentation">
          <a
            href="#tabs-missionFill"
            class="block w-full py-4 text-xl uppercase border-0 border-t-0 border-b-4 border-transparent transition-all leading-tighter active nav-link border-x-0 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
            id="tabs-mission-tabFill"
            data-bs-toggle="pill"
            data-bs-target="#tabs-missionFill"
            role="tab"
            aria-controls="tabs-missionFill"
            aria-selected="true">Our Mission</a
          >
        </li>
        <li class="flex-auto text-center nav-item" role="presentation">
          <a
            href="#tabs-visionFill"
            class="block w-full py-4 text-xl uppercase border-0 border-t-0 border-b-4 border-transparent transition-all leading-tighter nav-link border-x-0 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
            id="tabs-vision-tabFill"
            data-bs-toggle="pill"
            data-bs-target="#tabs-visionFill"
            role="tab"
            aria-controls="tabs-visionFill"
            aria-selected="false">Our Vision</a
          >
        </li>
        <li class="flex-auto text-center nav-item" role="presentation">
          <a
            href="#tabs-historyFill"
            class="block w-full py-4 text-xl uppercase border-0 border-t-0 border-b-4 border-transparent transition-all leading-tighter nav-link border-x-0 hover:border-transparent hover:bg-gray-100 focus:border-transparent"
            id="tabs-history-tabFill"
            data-bs-toggle="pill"
            data-bs-target="#tabs-historyFill"
            role="tab"
            aria-controls="tabs-historyFill"
            aria-selected="false">Our History</a
          >
        </li>
      </ul>
      <div class="tab-content" id="tabs-tabContentFill">
        <div
          class="tab-pane show active fade"
          id="tabs-missionFill"
          role="tabpanel"
          aria-labelledby="tabs-mission-tabFill"
        >
          <p class="text-2xl">
            To create a space for Bgirls to learn, session, cypher and build
            community elevating women in the Seattle Hip Hop breakin scene.
          </p>
        </div>
        <div
          class="tab-pane fade"
          id="tabs-visionFill"
          role="tabpanel"
          aria-labelledby="tabs-vision-tabFill"
        >
          <p class="text-2xl">
            Empower and uplift women in the Hip Hop breakin scene for a
            healthier, safe and balanced environment that will benefit all
            communities.
          </p>
        </div>
        <div
          class="tab-pane fade"
          id="tabs-historyFill"
          role="tabpanel"
          aria-labelledby="tabs-history-tabFill"
        >
          <p class="mb-4 text-2xl">
            Since 2001 three Bgirls, Naj, Bean and Lee dived into the breakin'
            culture that quickly became a huge part of their expression, growth
            and purpose. Over the years there was a growing desire to create
            more space for other Bgirls that was not intimidating and celebrated
            women. Their strong connection as women was a main factor in
            encouraging each other to continue their passion in the breakin'
            scene. They asked themselves, "would more Bgirls start and stick
            around if we did more for them? Yes!"
          </p>

          <p class="text-2xl">
            CYPHER Queenz began in 2019 after many years of seeing a need for
            more community for Bgirls. We give props to all the Bgirls who have
            been holding it down for a long time, but have observed many women
            briefly coming into the scene and then quickly leaving because of
            lack of support. There is an explosion of talented Bgirls all over
            the world now and there is so much more to come. In Seattle, we want
            to provide that space for them.
          </p>
        </div>
      </div>
      <section class="border-b-2 border-[#800000] p-4 md:p-8">
        <h2 class="mb-4 text-4xl font-extrabold lowercase">Our Values</h2>
        <div class="value-container">
          <div class="value">
            <h3 class="value-title">
              Beginner friendly – no experience needed
            </h3>
            <p class="value-text">
              We teach and support women just getting started from day one.
            </p>
          </div>
          <div class="value">
            <h3 class="value-title">Honoring the roots</h3>
            <p class="value-text">
              We want to pay respect and spread knowledge honoring the roots of
              Hip Hop from the Black and Brown community, particularly
              highlighting women in this history.
            </p>
          </div>
          <div class="value">
            <h3 class="value-title">Inclusivity</h3>
            <p class="value-text">
              We value being an inclusive welcoming environment for all
              regardless of gender and sexual identity, race and ethnicity,
              economic and faith backgrounds.
            </p>
          </div>
          <div class="value">
            <h3 class="value-title">Community driven</h3>
            <p class="value-text">
              We are volunteer run where all profits and donations go back into
              improving Cypher Queens events for the community.
            </p>
          </div>
          <div class="value">
            <h3 class="value-title">Toxic free behavior</h3>
            <p class="value-text">
              We do not tolerate behavior that minimizes and abuses others for
              individual gains, rather we focus on unity through building
              community.
            </p>
          </div>
          <div class="value">
            <h3 class="value-title">Creative expression</h3>
            <p class="value-text">
              We value art forms for expression beyond bgirling that enhance
              women and the Hip Hop community.
            </p>
          </div>
          <div class="value">
            <h3 class="value-title">Empowerment focused</h3>
            <p class="value-text">
              We want to create an environment that strengthens and empowers
              individuals into a mature focus of using gains to help the most
              vulnerable in society.
            </p>
          </div>
        </div>
      </section>
      <section class="p-4 md:p-8">
        <h2 class="mb-2 text-4xl font-extrabold lowercase">No Excuses</h2>
        <div class="flex mb-8 justify-evenly">
          <a href="https://www.thegoodfootarts.org/about">
            <Image
              src={noExcuses}
              class="relative bottom-0 w-32 h-32 transition-all duration-150 hover:bottom-2"
              alt="no excuses logo"
            />
          </a>
          <a href="https://www.thegoodfootarts.org/">
            <Image
              src={goodfootLogo}
              alt="GoodFoot Collective Logo"
              class="relative bottom-0 object-contain object-center w-32 h-32 p-2 transition-all duration-150 invert hover:bottom-2"
            />
          </a>
        </div>
        <p class="mb-6 text-2xl sm:text-3xl">
          Cypher Queenz is partnered with The Good Foot Arts Collective to
          participate in the NO Excuses campaign and how we can collectively
          provide a safe space for advocacy, education and empowerment to the
          scene concerning issues that have been most impacted by bgirls.
        </p>
        <p class="text-2xl sm:text-3xl">
          The Good Foot Arts Collective “NO Excuses” campaign advocates for
          safety and empowers youth to build an environment of NO tolerance for
          violence, sexual misconduct, toxic behavior or abuse in BIPOC youth
          communities and in the hip hop, street dance community.
        </p>
      </section>
    </section>
  </main>
</Layout>

<script>
  import "tw-elements";
</script>

<style>
  .nav-tabs .nav-link.active {
    @apply border-b-[#FACC15] font-bold text-black active:border-2;
  }
  .nav-tabs .nav-link {
    @apply font-bold text-black active:border-2;
  }

  .tab-content {
    @apply border-b-2 border-[#800000] px-8 py-8 md:px-12;
  }

  .value {
    @apply basis-1/3 rounded-sm border-2 border-[#800000] text-black  lg:basis-1/5;
  }

  .value-container {
    @apply flex flex-col justify-evenly gap-4 sm:flex-row sm:flex-wrap;
  }

  .value-title {
    @apply p-2 text-2xl font-bold;
  }

  .value-text {
    @apply p-2 text-lg;
  }
</style>
