---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cypher Queenz | About">
  <NavBar />
  <section class="mb-14">
    <h1 class="flex bg-black text-4xl font-extrabold text-white drop-shadow-sm">No Excuses</h1>
    <p>
      Cypher Queenz is partnered with The Good Foot Arts Collective to participate in the NO Excuses campaign and how we can collectively provide a safe space for advocacy, education and empowerment to the scene concerning issues that have been most
      impacted by bgirls.
    </p>
    <p>
      The Good Foot Arts Collective “NO Excuses” campaign advocates for safety and empowers youth to build an environment of NO tolerance for violence, sexual misconduct, toxic behavior or abuse in BIPOC youth communities and in the hip hop, street
      dance community.
    </p>
  </section>
  <Footer />
</Layout>
