---
import { Image } from "@astrojs/image/components";
import Emoji from "astro-emoji";
import { urlForMedia } from "../sanity/urlForMedia";

import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import { getAllBlogPosts } from "../sanity/api";
import BlogCard from "../components/BlogCard.astro";

const blogPosts = await getAllBlogPosts();
---

<Layout title="Cypher Queenz | Blog">
  <NavBar />
  <main class="mx-auto mb-auto block w-full max-w-4xl font-skinDisplay">
    <div class="p-8">
      <h1 class="mb-8 text-4xl font-extrabold">Blog</h1>
      <div class="flex flex-col flex-wrap gap-4 sm:flex-row">
        {
          !blogPosts.length ? (
            <div class="flex flex-col">
              <h2 class="mb-8 text-2xl">No blog posts yet!</h2>
              <h3 class="mb-8 text-xl">
                Join the
                <a
                  href="/mailing-list"
                  style="font-variant:small-caps;"
                  class="font-extrabold text-teal-600 underline"
                >
                  {" "}
                  mailing list
                </a>
                or follow us to stay in the know when we make announcements.
              </h3>
              <h4 class="text-lg">
                Also be sure to follow us on{" "}
                <a
                  href="https://www.instagram.com/cypherqueenz/?hl=en"
                  style="font-variant:small-caps;"
                  class="font-extrabold text-teal-600 underline"
                >
                  Instagram
                </a>{" "}
                and{" "}
                <a
                  href="https://m.facebook.com/Cypher-Queenz-111665977110803/"
                  style="font-variant:small-caps;"
                  class="font-extrabold text-teal-600 underline"
                >
                  Facebook
                </a>
                ! <Emoji symbol="😄" />
              </h4>
            </div>
          ) : (
            blogPosts.map((post) => {
              return <BlogCard post={post} />;
            })
          )
        }
      </div>
    </div>
  </main>
  <Footer />
</Layout>
