---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import { getAllBlogPosts } from "../sanity/api";
import BlogCard from "../components/BlogCard.astro";
import PostsZeroState from "../components/PostsZeroState.astro";

const blogPosts = await getAllBlogPosts();
---

<Layout title="Cypher Queenz | Blog">
  <NavBar />
  <main class="mx-auto mb-auto block w-full max-w-4xl font-skinDisplay">
    <div class="p-8">
      <h1 class="mb-8 text-4xl font-extrabold">Blog</h1>
      <div class="flex flex-col flex-wrap gap-4 sm:flex-row">
        {
          !blogPosts.length ? (
            <>
              <PostsZeroState type="blogs" />
            </>
          ) : (
            blogPosts.map((post) => {
              return <BlogCard post={post} />;
            })
          )
        }
      </div>
    </div>
  </main>
  <Footer />
</Layout>
