---
import Layout from "../layouts/Layout.astro";
import { getAllBlogPosts } from "../sanity/api";
import BlogCard from "../components/BlogCard.astro";
import PostsZeroState from "../components/PostsZeroState.astro";

const blogPosts = await getAllBlogPosts();
---

<Layout title="Cypher Queenz | Blog">
  <main
    class="mx-auto flex w-full max-w-[1440px] flex-col border-l-2 border-r-2 border-[#800000] shadow-sm bg-white"
  >
  <section class="flex flex-col gap-4 p-8">
    <h1 class="text-4xl font-extrabold lowercase">Blog</h1>
      <div class="flex flex-col flex-wrap gap-4 sm:flex-row">
        {
          !blogPosts.length ? (
            <>
              <PostsZeroState type="blogs" />
            </>
          ) : (
            blogPosts.map((post) => {
              return <BlogCard post={post} />;
            })
          )
        }
      </div>
    </section>
  </main>
</Layout>
