---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cypher Queenz | Mailing List">
  <NavBar />
  <main class="m-auto block h-full w-full max-w-4xl font-skinDisplay shadow-test">
    <div class="p-8">
      <h1 class="mb-2 text-4xl">Events</h1>
      <p class="italic">Under construction!</p>
    </div>
  </main>
  <Footer />
</Layout>
