---
import Layout from "../layouts/Layout.astro";
import { getAllEventPosts } from "../sanity/api";
import EventCard from "../components/EventCard.astro";
import PostsZeroState from "../components/PostsZeroState.astro";
import { SEO } from "astro-seo";
const eventPosts = await getAllEventPosts();
const today = new Date().getTime();

const upcomingEvents = eventPosts.filter((post) => {
  const eventDateMilliseconds = Date.parse(post.dateStart);
  return eventDateMilliseconds > today;
});

const pastEvents = eventPosts
  .filter((post) => {
    const eventDateMilliseconds = Date.parse(post.dateStart);
    return eventDateMilliseconds < today;
  })
  .sort((a, b) => {
    const aDate = Date.parse(a.dateStart);
    const bDate = Date.parse(b.dateStart);
    return bDate - aDate;
  });
---

<Layout title="Cypher Queenz | Events">
  <main
    class="mx-auto flex w-full max-w-[1440px] flex-col border-l-2 border-r-2 border-[#800000] shadow-sm bg-white "
  >
    <div class="flex flex-col gap-4 p-8">
      <h1 class="text-4xl font-extrabold lowercase">Events</h1>
      <h2 class="mb-4 text-2xl font-bold">Upcoming</h2>
      <div class="flex flex-col gap-4 mb-6 md:flex-row md:flex-wrap">
        {
          !upcomingEvents.length ? (
            <PostsZeroState type="events" />
          ) : (
            upcomingEvents.map((post) => <EventCard post={post} />)
          )
        }
      </div>
      <h2 class="mb-4 text-xl font-bold">Past Events</h2>
      <div class="flex flex-col gap-4 mb-6 md:flex-row md:flex-wrap">
        {pastEvents.map((post) => <EventCard post={post} />)}
      </div>
    </div>
  </main>
</Layout>
