---
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import Layout from "../layouts/Layout.astro";
import AboutBlock from "../sections/AboutBlock.astro";
import ConnectBlock from "../sections/ConnectBlock.astro";
import HeroBlock from "../sections/HeroBlock.astro";
import Partners from "../sections/Partners.astro";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main class="m-auto block w-full font-skinDisplay">
    <HeroBlock />
    <ConnectBlock />
    <AboutBlock />
    <Partners />
  </main>
  <Footer />
</Layout>
