---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
import heroVideo from "../video/cypher-queenz-video-compressed.mp4";
import logo from "../images/home/cypher-queenz-logo-transparent.png";
import { Image } from "@astrojs/image/components";
---

<Layout title="Welcome to Astro.">
  <NavBar />
  <main class="font-skinDisplay h-full w-full max-w-4xl m-auto p-6">
	<section class="w-full mb-4">
        <Image src={logo} class="w-64 m-auto cypher-queenz-logo m-auto" alt="logo" />
	</section>
    <section class="flex flex-col sm:flex-row gap-4 mb-10">
      <div class="flex-1 flex flex-col justify-evenly border-1 border-black border p-3 rounded-xl">
        <h1 class="text-4xl font-extrabold drop-shadow-sm">@CypherQueenz</h1>
        <h2 class="text-3xl">A Bgirl collective coming together to grow and leveling up the scene by highlighting the female voice in Hip Hop</h2>
      </div>
      <div class="basis-1/2 rounded-xl  border-1 border-black rounded-xl  border">
        <video autoplay playsinline muted loop id="myVideo" class="h-full rounded-xl p-1 shadow-sm object-cover">
          <source src={heroVideo} type="video/mp4" />
        </video>
      </div>
    </section>
    <section class="shadow-test rounded-full text-center mb-10 p-5 px-6 border-1 border-black border">
		<h2 class="text-xl">We offer <b>free monthly workshops/cypher sessions</b> and <b>supportive community</b> for experience dancers and those just getting started <b>from day one.</b></h2>
	</section>
    <section class="mb-10">
		<h1 class="text-4xl font-extrabold drop-shadow-xl">Coming to your city!</h1>
		<h1>SEA, PDX, and growing!</h1>
	</section>
    <section class="">
      <h1>Learn more about our mission, vision, history, and value.</h1>
    </section>
  </main>
  <Footer />
</Layout>
