---
import Layout from "../layouts/Layout.astro";
import AboutBlock from "../sections/AboutBlock.astro";
import PartnersBlock from "../sections/PartnersBlock.astro";
import HeroBlock from "../sections/HeroBlock.astro";
import OfferingsBlock from "../sections/OfferingsBlock.astro";
import LocationsBlock from "../sections/LocationsBlock.astro";
import HomeCTABlock from "../sections/HomeCTABlock.astro";
---

<Layout>
  <main
    class="mx-auto flex w-full max-w-[1440px] flex-col border-l-2 border-r-2 border-[#800000] bg-white"
  >
    <div class="border-b-2 border-[#800000]">
      <HeroBlock />
    </div>
    <div class="border-b-2 border-[#800000]">
      <OfferingsBlock />
    </div>
    <div class="border-b-2 border-[#800000]">
      <PartnersBlock />
    </div>
    <div class="border-b-2 border-[#800000]">
      <LocationsBlock />
    </div>
    <HomeCTABlock />
  </main>
</Layout>

<style>

</style>
