---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import merch from "../images/merch/merch.webp";
---

<Layout title="Cypher Queenz | Merch">
  <main class="m-auto block h-full w-full max-w-[1440px]">
    <div class="md:p-8 p-4">
      <h1 class="mb-2 text-4xl font-extrabold">Merch</h1>
      <p class="italic">Under construction!</p>
      <div class="w-full rounded shadow-app shadow-skinShadow">
        <Image
          src={merch}
          alt="Picture of dancer holding up a sweatshirt"
          class="object-cover object-center h-full"
        />
      </div>
    </div>
  </main>
</Layout>
