---
import { Image } from "astro:assets";
import swansong from "../images/icons/swansong-thick-24.webp";
import logo from "../images/shared/logo.webp";
---

<footer class="w-full border-t-2 border-[#800000] bg-white">
  <div
    class="m-auto flex max-w-[1440px] flex-col gap-4 border-l-2 border-r-2 border-[#800000] "
  >
    <div class="flex flex-col items-start gap-4 p-8 lg:flex-row">
      <div class="gap-4 basis-1/2">
        <a href="/" class="text-5xl w-max"
          >CYPHER<span class="font-[100]">Queenz</span></a
        >
        <p class="text-2xl">
          A Bgirl collective coming together to grow and leveling up the scene
          by highlighting the female voice in Hip Hop
        </p>
        <Image src={logo} alt="cypherqueenz logo" class="w-1/4 m-auto lg:m-0" />

      </div>
      <div class="flex w-full gap-12 links lg:basis-1/2 justify-evenly ">
        <section class="flex flex-col resources">
          <h2 class="font-extrabold ">Resources</h2>
          <a
            href="https://www.rainn.org/ThatsHarassment"
            class="">RAINN - SA Resources</a
          >
          <a
            href="https://www.dancedataproject.com/resources/sexual-assault-harassment-links-and-resources/#toggle-id-8"
            class=""
            >DanceDataProject - SA/Harassment Resources</a
          >
        </section>
        <section class="flex flex-col gap-1 social sm:items-start">
          <h2 class="font-extrabold ">Connect With Us</h2>
          <a
            href="https://www.instagram.com/cypherqueenz/?hl=en"
            class="">Instagram</a
          >
          <a
            href="https://www.facebook.com/profile.php?id=100067459671198"
            class="">Facebook</a
          >
          <a
            href="https://www.youtube.com/watch?v=bKIwJE20Dsk"
            class="">YouTube</a
          >
        </section>
      </div>
    </div>
    <div
      class="flex items-center justify-center gap-4"
    >
      <a
        href="https://seancswanson.com"
        target="_blank"
        rel="noreferrer"
        class="flex items-center text-xs italic text-center rounded font-skinMono"
      >
        <span class="inline-block mr-2">website by SDA</span>
        <Image
          src={swansong}
          alt="swanson digital arts logo"
          class="inline-block"
        />
      </a>
      <a
        href="https://www.chriskaku.com/"
        target="_blank"
        rel="noreferrer"
        class="text-xs italic text-center rounded font-skinMono"
      >
        <span class="inline-block"> Logo Design by Chris Kaku</span>
      </a>
    </div>
  </div>
</footer>
