---
---

<nav class="max-w-4xl w-full border border-black font-skinDisplay m-auto flex justify-between items-center px-3">
  <div class="left">CypherQueenz</div>
  <div class="right flex">
    <a href="" class="px-3 py-4">Gallery</a>
    <a href="" class="px-3 py-4">Blog</a>
    <a href="" class="px-3 py-4">Events</a>
    <a href="" class="px-3 py-4">Mailing List</a>
  </div>
</nav>
