---
import Emoji from "astro-emoji";

const currentPath = Astro.url.pathname;

const navItems = [
  { href: "/about", label: "About" },
  { href: "/blog", label: "Blog" },
  { href: "/events", label: "Events" },
  { href: "/media", label: "Media" },
  { href: "/connect", label: "Connect With Us" },
];
---

<header class="text-black border-b-2 border-black">
  <nav class="max-w-[1440px] mx-auto flex flex-wrap items-stretch justify-between border-r-2 border-black border-l-2">
    <div class="flex items-center justify-between w-full lg:w-auto relative min-h-[52px]">
      <a href="/" class="text-6xl absolute font-skinDisplay pl-2 font-bold tracking-tighter top-[-15px] hover:text-gray-700 transition-colors">CypherQueenz</a>
      
      <button id="hamburger" class="lg:hidden ml-auto border-2 border-black p-2 mr-2 hover:bg-black hover:text-beige transition-colors self-center">
        <span class="sr-only">Menu</span>
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
    
    <div id="navMenuContainer" class="hidden w-full lg:flex lg:w-auto lg:items-stretch mt-4 lg:mt-0">
      <ul class="flex flex-col lg:flex-row w-full lg:w-auto">
        {navItems.map((item, index) => (
          <li class={`nav-item hover:scale-105 flex items-stretch ${index !== 0 ? 'lg:border-l-2' : ''} ${index !== navItems.length - 1 ? 'border-b-2 lg:border-b-0' : ''} lg:border-r-2 border-black`}>
            <a
              href={item.href}
              class={`text-xl font-bold transition-colors px-4 py-2 lg:py-0 flex items-center w-full ${
                currentPath === item.href ? "underline" : ""
              }`}
            >
              {item.label}
            </a>
          </li>
        ))}
      </ul>
    </div>
  </nav>
</header>

<style>
  @media (max-width: 1023px) {
    #navMenuContainer {
      border-top: 2px solid black;
    }
    
    .nav-item:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: 1024px) {
    .nav-item {
      border-right-width: 0;
    }


    .nav-item:first-child {
      border-left-width: 2px;
    }
  }
</style>

<script>
  const hamburger = document.getElementById("hamburger");
  const navMenuContainer = document.getElementById("navMenuContainer");

  if (hamburger && navMenuContainer) {
    hamburger.addEventListener("click", () => {
      navMenuContainer.classList.toggle("hidden");
    });
  }
</script>