---

const currentPath = Astro.url.pathname;

const navItems = [
  { href: "/about", label: "About" },
  { href: "/blog", label: "Blog" },
  { href: "/events", label: "Events" },
  { href: "/media", label: "Media" },
  { href: "/connect", label: "Connect With Us" },
];
---

<header class="border-b-2 border-[#800000] sticky-top">
  <nav
    class="mx-auto flex max-w-[1440px] flex-wrap items-stretch justify-between border-r-2 border-l-2 border-[#800000] bg-white"
  >
    <div
      class="relative flex min-h-[60px] w-full items-center justify-between lg:w-auto"
    >
      <a
        href="/"
        class="absolute pl-2 text-5xl tracking-tighter transition-colors w-max"
        >CYPHER<span class="font-[100]">Queenz</span></a
      >

      <button
        id="hamburger"
        class="self-center p-2 ml-auto mr-2 transition-colors border-2 border-[#800000] hover:text-beige hover:bg-[#800000] lg:hidden"
      >
        <span class="sr-only">Menu</span>
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>

    <div
      id="navMenuContainer"
      class="hidden w-full uppercase lg:mt-0 lg:flex lg:w-auto lg:items-stretch"
    >
      <ul class="flex flex-col w-full lg:w-auto lg:flex-row">
        {
          navItems.map((item, index) => (
            <li
              class={`nav-item flex items-stretch ${
                index !== 0 ? "lg:border-l-2" : ""
              } ${
                index !== navItems.length - 1 ? "border-b-2 lg:border-b-0" : ""
              } border-[#800000] lg:border-r-2`}
            >
              <a
                href={item.href}
                class={`flex w-full items-center border-b-4 px-4 py-2 text-xl font-[100] tracking-tighter  hover:border-[#800000]  lg:py-0 ${
                  currentPath === item.href
                    ? "border-b-4 border-[#800000]"
                    : "border-transparent"
                }`}
              >
                {item.label}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<style>
  @media (max-width: 1023px) {
    #navMenuContainer {
      border-top: 2px solid #800000;
    }

    .nav-item:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: 1024px) {
    .nav-item {
      border-right-width: 0;
    }

    .nav-item:first-child {
      border-left-width: 2px;
    }
  }
</style>

<script>
  const hamburger = document.getElementById("hamburger");
  const navMenuContainer = document.getElementById("navMenuContainer");

  if (hamburger && navMenuContainer) {
    hamburger.addEventListener("click", () => {
      navMenuContainer.classList.toggle("hidden");
    });
  }
</script>
