---
import heroPoster from "../images/home/hero-poster.webp";
import heroVideo from "../video/cypher-queenz-video-compressed.mp4";
---

<section class="flex flex-col p-2 sm:p-0 md:flex-row">
  <div class="md:basis-1/3 md:border-r-2 md:border-[#800000] lg:basis-1/2">
    <video
      autoplay
      playsinline
      muted
      loop
      poster={heroPoster.src}
      id="myVideo"
      class="object-cover object-center w-full h-full"
    >
      <source src={heroVideo} type="video/mp4" />
    </video>
  </div>
  <div class="flex flex-col flex-1 gap-4 p-4 md:p-8">
    <h1 class="text-4xl font-extrabold lowercase bottom sm:text-5xl">
      We are CYPHERQueenz
    </h1>
    <p class="text-3xl sm:text-4xl">
      A Bgirl collective coming together to grow and leveling up the scene by
      highlighting the female voice in Hip Hop
    </p>

    <div class="flex flex-col gap-4 text-2xl font-thin tracking-tighter md:flex-row">
      <a
        href="/about"
        aria-label="Learn more about CYPHERQueenz"
        class="flex items-center w-max bg-[#800000] p-2 text-white"
        >learn about us</a
      >
      <a
        href="/connect#support"
        class="flex items-center p-2 bg-yellow-400 w-max"
        >support @cypherqueenz</a
      >
    </div>
  </div>
</section>

<style>
  .screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    word-break: normal;
}
</style>