---
import heroPoster from "../images/home/hero-poster.png";
import heroVideo from "../video/cypher-queenz-video-compressed.mp4";
---

<section class="flex flex-col p-2 sm:p-0 md:flex-row">
  <div class="lg:basis-1/2 md:basis-1/3 md:border-r-2 md:border-[#800000]">
    <video
      autoplay
      playsinline
      muted
      loop
      poster={heroPoster.src}
      id="myVideo"
      class="object-cover object-center w-full h-full"
    >
      <source src={heroVideo} type="video/mp4" />
    </video>
  </div>
  <div class="flex flex-col flex-1 gap-4 p-4 md:p-8">
    <h1
      class="text-4xl font-extrabold lowercase bottom sm:text-5xl"
    >
      We are CYPHERQueenz
    </h1>
    <p class="text-3xl sm:text-4xl">
      A Bgirl collective coming together to grow and leveling up the scene by
      highlighting the female voice in Hip Hop
    </p>

      <div class="flex gap-4 text-2xl font-thin tracking-tighter">
        <a
          href="https://www.instagram.com/cypherqueenz/?hl=en"
          class="flex items-center justify-center h-12 px-2 border-2 border-[#800000] w-max bg-[#800000] text-white"
          >learn more</a
        >
        <a
          href="https://m.facebook.com/Cypher-Queenz-111665977110803/"
          class="flex items-center justify-center h-12 px-2 border-2 border-[#800000] w-max bg-yellow-400"
          >support @cq</a
        >
      </div>
  </div>
</section>
