---
import Emoji from "astro-emoji";
import { Image } from "astro:assets";
import logo from "../images/shared/logo.webp";
---

<section class="flex flex-col gamd:p-8 p-4 md:p-8 p-4 ">
  <h2 class="text-3xl font-bold text-center lowercase sm:text-5xl">
    Want to stay up to date on all things CypherQueenz?
  </h2>
  <div class="flex flex-col justify-center gap-4 md:flex-row">
    <Image src={logo} alt="cypherqueenz logo" class="w-48 m-auto lg:m-0" />
    <div class="flex flex-col gap-4">
      <p class="text-2xl sm:text-3xl">
        Follow us on <a
          href="https://www.instagram.com/cypherqueenz/?hl=en"
          class="w-max border-b-4 border-[#800000]"
          ><Emoji symbol="🔗" /> instagram</a
        > and <a
          href="https://www.instagram.com/cypherqueenz/?hl=en"
          class="w-max border-b-4 border-[#800000]"
          ><Emoji symbol="🔗" /> facebook</a
        >.
      </p>
      <p class="sm:text-xl">
        For all other inquiries click <a
          href="/connect"
          class="w-max border-b-4 border-[#800000]"
          ><Emoji symbol="🔗" /> here</a
        >
      </p>
    </div>
  </div>
</section>
