---
import { ViewTransitions } from "astro:transitions";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SEO } from "astro-seo";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title ? title : "Cypher Queenz | Bgirl Organization"}
      description="Cypher Queenz is a Bgirl collective coming together to grow and leveling up the scene by highlighting the female voice in Hip Hop"
      charset="UTF-8"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;800"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? title : "Cypher Queenz | Bgirl Organization"}</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
  </head>
  <body class="flex flex-col min-h-screen text-black">
    <div id="fb-root"></div>
    <script>
      declare const window: any;
      window.fbAsyncInit = function () {
        FB.init({
          appId: "549851657070188",
          autoLogAppEvents: true,
          xfbml: true,
          version: "v15.0",
        });
      };
    </script>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/all.js"
    ></script>
    <div class="grain-overlay"></div>
    <div class="concrete-overlay"></div>
    <NavBar />
    <slot />
    <Footer />
    <ViewTransitions />

    <style is:global>
      :root {
        --font-family-skin-display: "SlowScript";
        --color-bg-base: #ffffff;
        --color-bg-accent: #f4f0e6;
        --color-shadow: 135 103 123;
      }

      html {
        font-family: sans-serif;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;
      }

      .grain-overlay {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url(/grain-uniform.png);
        background-repeat: repeat;
        background-size: 150px;
        opacity: 0.1;
        z-index: 999;
      }

      .concrete-overlay {
        position: fixed;
        top: 60px;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-image: url(/concrete-texture.webp);
        background-repeat: repeat;
        background-size: 150px;
        opacity: 1;
        z-index: -1;
      }
      body {
        background-size: 0px 0px;
        background-image: linear-gradient(to right, grey 1px, transparent 1px),
          linear-gradient(to bottom, grey 1px, transparent 1px);
      }
    </style>
    <script async src="//www.instagram.com/embed.js"></script>
  </body>
</html>
